<!DOCTYPE html>
    
<head>
  <meta charset="UTF-8">
  <title>How Predictable Are You?</title>
  <link rel="stylesheet" type="text/css" href="/static/simple.css">
  <script type="text/javascript" src="/static/rest.js" defer></script>
</head>

<body>
  <h1>How Predictable Are You?</h1>
  <div class="parent">
    <button class="block" onclick="select_button(0)">Start</button>
    <button class="block" onclick="select_button(1)">★</button>
    <button class="block" onclick="select_button(2)">⌥</button>
    <button class="block" onclick="select_button(3)">♫</button>
    <button class="block" onclick="select_button(4)">➚</button>
    <button class="block" onclick="select_button(5)">シ</button>
    <button class="block" onclick="select_button(6)">☪</button>
    <button class="block" onclick="select_button(7)">Ω</button>
    <button class="block" onclick="select_button(8)">✖</button>
  </div>
</body>

</html>