<!DOCTYPE html>
    
<head>
  <meta charset="UTF-8">
  <title>How Predictable Are You?</title>
  <link rel="stylesheet" type="text/css" href="/static/simple.css">
  <script type="text/javascript" src="/static/rest.js" defer></script>
</head>

<body>
  <h1>How Predictable Are You?</h1>
  <div class="parent">
    <button class="block" id="0" onclick="select_button(this.id)">Start</button>
    <button class="block" id="1" onclick="select_button(this.id)">★</button>
    <button class="block" id="2" onclick="select_button(this.id)">⌥</button>
    <button class="block" id="3" onclick="select_button(this.id)">♫</button>
    <button class="block" id="4" onclick="select_button(this.id)">➚</button>
    <button class="block" id="5" onclick="select_button(this.id)">シ</button>
    <button class="block" id="6" onclick="select_button(this.id)">☪</button>
    <button class="block" id="7" onclick="select_button(this.id)">Ω</button>
    <button class="block" id="8" onclick="select_button(this.id)">✖</button>
  </div>
</body>

</html>